<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="forLogIn" *ngIf="!isLogged">
          <h2>Log In</h2>
          <div formGroupName="loginDetails">

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email" formControlName="email">
            </div>

            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
              <a href='#'>
                <span>forgot your password?</span>
              </a>
            </div>

          </div>
          <button class="btn btn-success" style="width: 100%">Log me in!</button>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="remmember">
            <label class="form-check-label">Remmember me</label>
          </div>

          <p class="text-center" style="margin-top: 30px;">New to our site?
            <a href='#'>Sign up!</a>
          </p>
        </div>

        <div class="forLogOut" *ngIf="this.isLogged">
          <h2>Log Out</h2>
          <button class="btn btn-success" style="width: 100%">Log Out</button>
        </div>

      </form>


    </div>

    <div class="col-4"></div>
  </div>
</div>
