<div class="container">
  <div class="row">
      <nav class="nav nav-pills nav-fill">
          <li class="nav-item" *ngFor="let category of uniqueCategories">
            <a class="nav-link" (click)="onFiltterProjectList(category)" routerLink="/projects">{{category | uppercase}}</a>
          </li>
      </nav>
  </div>
  <div class="row">
      <div *ngFor="let project of projectsList" class="col-4">
          <div class="card"  style="width: 18rem">
            <div class="card-header">
                <h5 class="card-title">{{project.title}}</h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle">{{project.endDate | date}}</h6>
                <p class="card-text">Amount to collect: {{project.amount | currency:'USD':'symbol':'3.0-0'}}</p>
                <a href="#">Details</a>
            </div>
          </div>
        </div>
  </div>
</div>
