<div class="container">
  <div class="row">


    <form [formGroup]="projectData" (ngSubmit)="onSubmit()">

      <div>

        <div class="form-group">
          <input type="text" formControlName="title" class="form-control" placeholder="Title">
          <span class="errorHelper" *ngIf="title.invalid && title.touched">
              Must have a title
            </span>
        </div>

        <div class="form-group">
          <input type="text" formControlName="endDate" class="form-control" placeholder="Date">
          <span class="errorHelper" *ngIf="endDate.invalid && endDate.touched">
              Must have a valid date
            </span>
        </div>

        <div class="form-group">
          <input type="number" formControlName="amount" class="form-control" placeholder="Amount">
          <span class="errorHelper" *ngIf="amount.invalid && amount.touched">
              Number cannot be 0 or lower
            </span>
        </div>

        <div class="form-group">
          <input type="text" formControlName="category" class="form-control" placeholder="Category">
          <span class="errorHelper" *ngIf="category.touched && category.invalid">
              Must enter category
            </span>
        </div>


      </div>
      <button *ngIf="!editMode" type="submit" class="btn btn-primary">Submit</button>
      <button *ngIf="editMode" type="submit" class="btn btn-primary">Save</button>
    </form>

  </div>
</div>
